<html>
<head>
    <title>{{title}}</title>
</head>
<body>
<h1>Students</h1>
<table>
{{#students}}
    <tr>
        <td>{{name}}</td>
        <td>{{value}}</td>
    </tr>
{{/students}}
</table>
</body>
</html>